{% extends 'base.html.twig' %}

{% block title %}imageUniverse - Registrieren{% endblock %}

{% block body %}

    <div class="container authentification">
        <div class="row">
            <div class="col-12">
                <h3>Registrieren</h3>
            </div>
        </div>
    </div>
    <div class="container centered-box">
        <div class="centered-box-content">
            <form class="form" id="new_user" method="post">
                <label for="user_email" class="sr-only">Email</label>
                <input class="form-control form-label" type="email" value="" name="user[email]" id="user_email" placeholder="E-Mail">
                <label for="user[password]" class="sr-only">Password</label>
                <input pattern=".{6,}" title="Mindestens 6 Zeichen." autocomplete="off" class="form-control form-label"  type="password" name="user[password]" id="user_password" placeholder="Passwort">
                <button class="btn btn-primary" type="submit">
                    Registrieren
                </button>
            </form>
        </div>
    </div>
    <div class="container authentification-message">
        <div class="row">
            <div class="col-12">
                <h4>{{ message }}</h4>
            </div>
        </div>
    </div>

{% endblock %}