{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid welcome-area">
        <div class="overlay"></div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center text-center">
                <div>
                    <h1>imageUniverse</h1>
                    <h3>Be a part of something awesome.</h3>
                    <p>- This is your blog to share and love pictures in diversity!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid image-with-parallax">
        <div class="row">
            <div class="col parallax-container">
                <div class="parallax">
                    <img class="img-fluid" src="{{ asset('img/advent-blur-branch-237180.jpg') }}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}