{% extends 'base.html.twig' %}

{% block body %}
    <div class="container authentification-message with-margin">
        <div class="row">
            <div class="col-12">
                <h4>{{ message }}</h4>
            </div>
        </div>
    </div>
    <div class="container carousel-container">
        <div id="accountCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" style="background-image: url({{ asset('img/beautiful-blur-bright-326055.jpg') }})"></div>
                <div class="carousel-item" style="background-image: url({{ asset('img/beautiful-calm-clouds-206359.jpg') }})"></div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#accountCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#accountCarousel" data-slide-to="1"></li>
            </ol>
        </div>
    </div>
{% endblock %}