{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}

{% block body %}
    <div class="container centered-box">
        <div class="centered-box-content">
            <form class="form" id="new_user" action="/login/" method="post">
                <div class="form-group">
                    <label class="form-label" for="user_email">E-Mail</label>
                    <input required="required" autofocus="autofocus" class="form__input" type="email" value="" name="user[email]" id="user_email">
                </div>
                <div class="form-group">
                    <label class="form-label" for="user_password">Passwort</label>
                    <input required="required" autocomplete="off" class="form__input" type="password" name="user[password]" id="user_password">
                </div>
                <div class="form-group">
                    <input class="js-anonymous-id" type="hidden" name="user[anonymous_id]" id="user_anonymous_id" value="h5ukjwhxcn">
                    <input type="submit" name="commit" value="Login" class="btn-primary form-input" data-disable-with="Login">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}