{% extends 'base.html.twig' %}

{% block title %}imageUniverse - Registrieren{% endblock %}

{% block body %}
    <div class="container authentification-headline">
        <div class="row">
            <div class="col-12">
                <h3>{{ message }}</h3>
            </div>
        </div>
    </div>
    <div class="container centered-box">
        <div class="centered-box-content">
            <form class="form" id="new_user" method="post">
                <div class="form-group">
                    <label class="form-label" for="user_email">E-Mail</label>
                    <input required="required" class="form-input" type="email" value="" name="user[email]" id="user_email">
                </div>
                <div class="form-group">
                    <label for="user_password" class="form-label">
                        Passwort
                    </label>
                    <input required="required" pattern=".{6,}" title="6 characters minimum" autocomplete="off" class="form-input" type="password" name="user[password]" id="user_password">
                </div>
                <div class="form-group">
                    <input type="submit" name="commit" value="Registrieren" class="btn-primary form-input" data-disable-with="Registrieren">
                </div>
            </form>
        </div>
    </div>

{% endblock %}