{% extends 'base.html.twig' %}
{% block body %}
    <div class="container all-images">
        <h2>Blog der Community</h2>
        <div class="row">
            {% for image in images %}
            <div class="col-md-6 d-flex justify-content-center">
                <div class="image-placeholder">
                    <img src="/{{ image.path }}" class="img-fluid">
                    <div class="image-owner text-center"><span><i class="fas fa-user"></i></span>{{ image.userEmail }}</div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}