{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-images">
        <h2>Altes Bild:</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="/{{ image.path }}" class="img-fluid">
            </div>
        </div>
        <h2>Anderes Bild hochladen:</h2>
        <form class="form" id="new_image" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="form-label" for="image">Bild</label>
                <input required="required" class="form-control-file" type="file" name="image" id="image">
            </div>
            <div class="form-group">
                <input type="submit" value="Hochladen" class="btn-primary form-input">
            </div>
        </form>
    </div>
{% endblock %}